<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webstudy07-LifeCycle-ServletConfig-ServletContext-Listener-inst</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>securityLocation</param-name>
    <param-value>/WEB-INF/spring-security.xml</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LifeCycleOnLoadStartupServlet</display-name>
    <servlet-name>LifeCycleOnLoadStartupServlet</servlet-name>
    <servlet-class>step1.LifeCycleOnLoadStartupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleOnLoadStartupServlet</servlet-name>
    <url-pattern>/LifeCycleOnLoadStartupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConfigTestServlet</display-name>
    <servlet-name>ServletConfigTestServlet</servlet-name>
    <servlet-class>step2.ServletConfigTestServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/springmvc-config.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigTestServlet</servlet-name>
    <url-pattern>/ServletConfigTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextTestServlet1</display-name>
    <servlet-name>ContextTestServlet1</servlet-name>
    <servlet-class>step3.ContextTestServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextTestServlet1</servlet-name>
    <url-pattern>/ContextTestServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextTestServlet2</display-name>
    <servlet-name>ContextTestServlet2</servlet-name>
    <servlet-class>step4.ContextTestServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextTestServlet2</servlet-name>
    <url-pattern>/ContextTestServlet2</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>step5.TestListener</listener-class>
  </listener>
</web-app>